[keys]
# OKX API 配置
# 实盘账户
okApiKey = YOUR_LIVE_API_KEY_HERE
okSecretKey = YOUR_LIVE_SECRET_KEY_HERE
okTestKey = YOUR_TEST_API_KEY_HERE
okTestSecret = YOUR_TEST_SECRET_KEY_HERE
passphrase = YOUR_PASSPHRASE_HERE

[exchange]
# 交易所配置
flag = 1
sandbox = true
